.signinup-wrapper {
  width: 100vw;
  height: 100vh;
  display: flex;
  align-items: center;
  justify-content: center;
  background: url(./background.png) no-repeat;
  background-size: cover;

  .signinup-container {
    width: 60%;
    display: flex;
    align-items: center;
    justify-content: space-between;

    .signinup-logo-container {
      display: flex;
      flex-direction: column;
      align-items: center;

      .signinup_logo {
        width: 220px;
        aspect-ratio: 1/1;
      }

      h2 {
        color: white;
        font-size: 3.5rem;
        font-weight: 500;
      }
    }

    @media screen and (max-width: 1024px) {
      .signinup-logo-container {
        display: none;
      }
    }

    .form-container {
      background: white;
      border-radius: 10px;
      padding: 20px 30px;
      width: 380px;

      .signinup-form {
        h3 {
          margin-bottom: 20px;
          font-size: 1.5rem;
          font-weight: 500;
        }

        input {
          width: 100%;
          padding: 8px 10px;
          margin-bottom: 20px;
          border-radius: 5px;
          border: 1px solid gray;
          font-size: 14px;
          outline: none;

          &:focus {
            border: 1px solid #0f74da;
            box-shadow: 0 0 5px #0f74da;
          }
        }

        button {
          background-color: #0f74da;
          color: white;
          width: 100%;
          border: none;
          padding: 10px;
          font-size: 15px;
          border-radius: 5px;
          cursor: pointer;
          transition: 0.2s;
          margin-bottom: 20px;

          &:hover {
            background-color: #1f67ae;
          }
        }

        .terms {
          display: flex;
          flex-direction: row;
          gap: 10px;
          font-size: 13px;
          align-items: center;
          justify-content: flex-start;
          margin-bottom: 20px;
          color: #484848;

          input[type="checkbox"] {
            width: unset;
            margin: unset;
          }
        }
      }

      .signinup-p {
        font-size: 14px;
        color: #565656;

        a {
          color: #0f74da;
          font-weight: 500;
        }
      }
    }
  }

  @media screen and (max-width: 1024px) {
    .signinup-container {
      width: 90% !important;

      justify-content: center;
    }
  }

  @media screen and (min-width: 1025px) and (max-width: 1200px) {
    .signinup-container {
      width: 80% !important;

      justify-content: space-around;
    }
  }
}

::-webkit-scrollbar {
  display: none;
}
